{% extends 'base/base.html' %}

{% load static %}

{% block title %}
Про нас
{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'user_pages/css/about_us.css' %}">
{% endblock %}

{% block content %}
    <div class="information">
        <div class="introduction">
            <p class="title">Вступ</p>
            <p class="text-content">
                Ласкаво просимо до WebShop – ваш надійний партнер у створенні професійних веб-сайтів на замовлення!
                Ми є невеликою IT компанією, що динамічно розвивається, що спеціалізується на розробці та дизайні 
                унікальних веб-проектів для різних бізнесів.
            </p>
        </div>
        <div class="about-us">
            <p class="title">Про нас</p>
            <p class="text-content">
                WebShop – невелика IT-компанія, що спеціалізується на розробці сайтів на замовлення. Ми пропонуємо індивідуальні рішення, які повністю відповідають потребам та цілям наших клієнтів.
                Наша команда складається з досвідчених розробників, дизайнерів та маркетологів, які тісно співпрацюють, щоб створювати унікальні та ефективні веб-рішення. Ми розуміємо, що кожен бізнес має свої особливості, і тому наші сайти розробляються з урахуванням індивідуальних вимог клієнтів. У нас важливі два аспекти: функціональність та дизайн. Ми створюємо сайти, які не тільки виглядають привабливо, але й мають зручну навігацію та високу продуктивність. Наша мета – надати нашим клієнтам веб-рішення, які допоможуть їм збільшити онлайн-присутність, залучити нових клієнтів та підвищити конверсію.
                Ми працюємо у тісному контакті з нашими клієнтами протягом усього процесу розробки. Ми слухаємо їхні потреби, обговорюємо ідеї та пропонуємо експертні поради, щоб створити сайт, який найбільш повно відображає їхній бізнес..
            </p>
        </div>
        <div class="Developers">
            <p class="title">Розробники</p>
            <div class="list-developer">
                <div>
                    <p>Семенов Рома</p>
                    <p>Мулько Артем</p>
                    <p>Зозуля Назар</p>
                    <p>Махно Данило</p>
                </div>
                <div>
                    <p>Гайдар Павло</p>
                    <p>Пивоваров Герман</p>
                    <p>Соболев Максиміліан</p>
                    <p>Білий Максим</p>
                </div>
                <div>
                    <p>Срібний Дмитро</p>
                    <p>Кирило Овсяков</p>
                    <p>Ткаченко Прохор</p>
                    <p>Дмитро Ларін</p>
                </div>
            </div>
        </div>
        <div class="our-plus">
            <p class="title">Наші плюси</p>
            <ul class="information">
                <li>Індивідуальний підхід: Ми пропонуємо індивідуальний підхід до кожного проекту, щоб забезпечити нашим клієнтам ефективні та функціональні рішення.</li>
                <li>Досвідчена команда: Наша команда складається з талановитих розробників, дизайнерів та маркетологів з великим досвідом роботи у сфері веб-розробки.</li>
                <li>Сучасні технології: Ми дотримуємося сучасних технологічних трендів і завжди шукаємо нові інноваційні підходи для надання кращих результатів.</li>
                <li>Різноманітність проектів: Незалежно від того, чи потрібний вам простий корпоративний сайт, елегантний інтернет-магазин чи складний веб-портал, ми готові перетворити ваші ідеї на реальність.</li>
                <li>Якість та дотримання термінів: Ми пишаємося своєю здатністю надавати високоякісні веб-сайти, дотримуючись термінів та бюджетів проектів.</li>
                <li>Підтримка та обслуговування: Ми прагнемо до довгострокового співробітництва, надаючи надійну підтримку та обслуговування після розробки сайту.</li>
                <li>Результати та успіх: Наша мета – допомогти вам досягти ваших цілей в онлайн-світі та створити потужну веб-присутність для вашого бізнесу.</li>
            </ul>
        </div>
        <div class="our-technologies">
            <p class="title">Наші технології</p>
            <div class="all-technologies">
                <div class="technologies">
                    <div>
                        <img src="{% static 'user_pages/img/python.png' %}" alt="">
                        <p>Python</p>
                    </div>
                    <div>
                        <img src="{% static 'user_pages/img/django.png' %}" alt="">
                        <p>Django</p>
                    </div>
                    <div>
                        <img src="{% static 'user_pages/img/javascript.png' %}" alt="">
                        <p>JavaScript</p>
                    </div>
                    
                </div>
                <div class="technologies-2"> 
                    <div>
                        <img src="{% static 'user_pages/img/html.png' %}" alt="">
                        <p>HTML</p>
                    </div>   
                    <div>
                        <img src="{% static 'user_pages/img/Figma.png' %}" alt="">
                        <p>Figma</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}




