{% extends 'base/base.html' %}

{% load static %}

{% block title %}
Головна страница
{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'user_pages/css/main.css' %}">
{% endblock %}

{% block content %}
    <div class="content">
        <div class="information">
            <div class="introduction">
                <p class="title">Вступ</p>
                <p class="text-content">
                    Ласкаво просимо до WebShop – ваш надійний партнер у створенні професійних веб-сайтів на замовлення!
                    Ми є невеликою IT компанією, що динамічно розвивається, що спеціалізується на розробці та дизайні 
                    унікальних веб-проектів для різних бізнесів.
                </p>
            </div>
            <div class="about-us">
                <p class="title">Про нас</p>
                <p class="text-content">
                    WebShop – невелика IT-компанія, що створює унікальні веб-рішення. Ми поєднуємо функціональність та привабливий дизайн, щоб допомогти вашому бізнесу виділитися. 
                    Пропонуємо індивідуальні сайти на замовлення з огляду на ваші потреби. Працюємо у тісній співпраці, щоб втілити ваші ідеї у реальність. 
                    Збільште онлайн-присутність та залучайте нових клієнтів за допомогою WebShop.
                </p>
            </div>
        </div>
        <div class="button-catalog">
            <p>Catalog</p>
        </div>
    </div>
{% endblock %}