

main{
    width: 100%;
    min-height: 100%;
    margin: 0;
    padding: 0;
    background-color: #C1D0DA;
}

@media only screen and (min-width: 501px) {
    body{
        width: 100%;
        height: auto;
        margin: 0;
        padding: 0;
        background-color: #C1D0DA;
        display: flex;
        flex-direction: column;
    }

    header{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        padding: 10px;
        gap: 65%; 

        width: 100%;
        height: 8%;
        margin: 0;
        box-sizing: border-box;
        background: linear-gradient(269.5deg, #065070 0%, rgba(1, 105, 150, 0.88) 100%);
    }

    header .logo{
        height: auto;
        width: 120px;
    }

    header .links{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-end;
        padding: 0px;
        gap: 10%;


        width: 20%;
        height: 80%;
    }

    header .links div{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-end;
        padding: 0px;
        gap: 15%;

        width: auto;
        height: 100%;
    }

    header .links div div{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0px;

        width: auto;
        height: 100%;

    }

    header .links div div a{
        height: 50%;
        width: auto;
    }

    header .links div div img{
        height: 100%;
        width: auto;
    }

    header .links div div .text{
        font-family: 'Prosto One';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 17px;
        text-decoration: none;
        color: #021A36;  
        margin: 0%;
    
    }

    footer{

        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 40%;

        width: 100%;
        height: 24%;

        background: linear-gradient(269.5deg, #065070 0%, rgba(1, 105, 150, 0.88) 100%);
        box-sizing: border-box;
    }

    footer .contact{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10px;
        gap: 10%;

        width: 27%;
        height: 90%;
    }

    footer .contact a{
        height: 50%;
    }
    footer .contact img{
        height: 100%;
    }

    footer .contact p{
        font-family: 'Prosto One';
        font-style: normal;
        font-size: 14px;

        color: #021A36;
        margin: 0;
        padding: 0;
    }

    footer .links{
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0px;
        gap: 50px;

        width: 14.5%;
        height: 65%;
    }

    footer .links div{
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        padding: 0px;
        gap: 8%;

        width: 45%;
        height: 100%;
    }

    footer .links div div{
        height: 50%;
        width: 100%;
    }

    footer .links div div img{
        height:100%;
    }
    footer .links div div a{
        height: 61%;
        width: auto;
    }

    footer .links div div .text{
        font-family: 'Prosto One';
        font-style: normal;
        font-size: 14px;
        text-decoration: none;
        color: #021A36;  
        margin: 0%;
    }
}



@media only screen and (max-width: 500px) {
    body{
        width: 100%;
        height: auto;
        margin: 0;
        padding: 0;
        background-color: #C1D0DA;
        display: flex;
        flex-direction: column;
    }

    header{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 10px;
        gap: 14%;

        width: 100%;
        height: 10.7%;

        background: linear-gradient(269.5deg, #065070 0%, rgba(1, 105, 150, 0.88) 100%);

    }
    header a{
        height: 50%;
        width: auto;
    }

    header img{
        height: 100%;
        width: auto;
    }
    header .links{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-end;
        padding: 0px;
        gap: 10px;

        width: 33.2%;
        height: 86%;
    }

    header .links div{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0px;
        gap: 10px;
            
        width: auto;
        height: 100%;

    }

    header .links div div{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0px;

        width: 100%;
        height: 50%;
        
    }

    header .links div div a{
        height: 50%;
        width: auto;
    }

    header .links div div img{
        height: 100%;
        width: auto;
    }
    
    header .links div div .text{
        font-family: 'Prosto One';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        margin: 0;

        color: #021A36;
    }




    /* ФУТЕР */

    footer {

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 10px;
        gap: 10px;
        
        width: 100%;
        height: 18.5%;

        background: linear-gradient(269.5deg, #065070 0%, rgba(1, 105, 150, 0.88) 100%);
    }

    footer .contact {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0px;
        gap: 10px;

        width: 54.8%;
        height: 61.2%;
    }

    footer .contact .logo {
        width: 120px;
        height: auto;
    }

    footer .contact p{
        font-family: 'Prosto One';
        font-style: normal;
        font-weight: 400;
        font-size: 10px;
        line-height: 12px;
        margin: 0;
        color: #021A36;
    }

    footer .links{
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0px;
        gap: 6%;


        height: 21.3%;
    }

    footer .links div{
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        padding: 0px;
        gap: 10%;

        height: 100%;
    }

    footer .links div div{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0px;

        width: auto;
        height: 100%;
    }

    footer .links div div a{
        height: 57%;
        width: auto;
    }
    footer .links div div img{
        height: 100%;
        width: auto;
    }

    footer .links div div .text{
        font-family: 'Prosto One';
        font-style: normal;
        font-size: 14px;
        text-decoration: none;
        color: #021A36;  
        margin: 0;
    }

    



    
}