{% extends 'base/base.html' %}
{% block title %}
Перегляд продукту
{% endblock %}
{% block content %}
<div class="bg-succes" hidden>
    <div class="succes">
        <img src="../../../media/products/succes.png" alt="">
        <p>Operation was successfully completed</p>

    </div>
    
</div>

<div class="productt">
<h1>Перегляд продукту</h1>
<h2>{{product.name}}</h2>
<img src="{{product.image.url}}" alt="" style="max-width: 300px;">
<p>{{product.full_info}}</p>
<p id = "priceProduct">{{product.price}} $</p>

<h3>Додаткові параметри:</h3>
{% for option in additional_options %}
    <div>
        <input type="checkbox" class = "check" value="{{ option.price }}" checked>
        <input type="hidden" class="options-pk" value="{{ option.pk }}">
        {{ option.name }}
        ({{ option.price }} $)
    </div>
{% endfor %}

<h3> Загальна цiна: <span id = "fullPrice">{{ full_price }}</span> $</h3>
<br>
<form method = "POST" class = "addToCart" action = "{{ product.get_absolute_url }}">
    {% csrf_token %}
    <input type="text" hidden value="{{product.pk}}" name="product_pk">
    <!-- <input type="hidden" id = "hiddenValue" name="full_price" value="Price"> -->
    <button class="button-add-to-cart">Додати до кошику</button>
</form>
</div>

{% endblock %}
